@import "./assets/mixins/mixins";

/* ======================= GLOBAL ======================= */

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

a,
p,
h1,
h2,
h3 {
  letter-spacing: 1px;
  color: rgb(4, 93, 4);
}

h2 {
  font-size: 200%;
}

// .row{
//   padding: 0;
//   margin: 0;
// }

/* ======================= NAVBAR ======================= */

nav {
  position: relative;
  height: 150px;
  width: 100%;
  display: flex;
  @include flex-center;
  gap: 35px;

  img {
    position: absolute;
    top: 10px;
    left: 35px;
  }

  a {
    text-decoration: none;
    font-size: 115%;
    font-weight: 300;

    &:hover {
      color: black;
    }
  }
}

/* ======================= SECTION 1 ======================= */

.section1 {
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.2) 0%,
      rgba(36, 121, 9, 0.15) 35%,
      rgba(92, 135, 1, 0.15) 100%
    ),
    url(/assets/images/section1/84770f_1709ef8680b046ca97ee6ceeae28abe6_mv2_d_5615_3747_s_4_2.webp)
      no-repeat;
  background-size: cover;
  height: 900px;
  display: flex;
  flex-flow: column;
  @include flex-center;
  gap: 50px;

  h1,
  h2,
  h3 {
    color: white;
  }

  h1 {
    font-size: 800%;
    font-weight: 400;
  }

  h3 {
    font-size: 200%;
    font-weight: 300;
  }
}

.separation {
  height: 3px;
  width: 60%;
  margin: 0 auto;
  background-color: white;
  content: "";
}

/* ======================= SECTION 2 ======================= */

.section2-left {
  background-image: url(/assets/images/section2/left/45d10e_051e0a16fe6142e8af623046a6338998_mv2_d_3926_4826_s_4_2.webp);
    height: 800px;
    @include background;
}
