@import "./assets/mixins/mixins";
@import "./assets/variables/variables";

/* ======================= GLOBAL ======================= */

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

a,
p,
h1,
h2,
h3 {
  letter-spacing: 1px;
  color: $colorprim;
}

h1 {
  font-size: 700%;
  font-weight: 400;
}

h2 {
  font-size: 220%;
}

h3 {
  font-size: 200%;
  font-weight: 300;
}

.row > * {
  padding: 0;
  margin: 0;
}

/* ======================= NAVBAR ======================= */

nav .row {
  align-items: center;
  @include no-spaces;
}

.logo-nav img {
  margin: 10px 0 30px 25px;
}

.menus-nav a {
  margin-right: 30px;
  text-decoration: none;
  font-weight: 300;
  font-size: 110%;

  &:hover {
    color: $hoverprim;
  }
}

/* ======================= SECTION 1 ======================= */

.section1 .row{
  @include no-spaces;
}

.section1-photo {
  background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.2) 0%,
      rgba(36, 121, 9, 0.15) 35%,
      rgba(92, 135, 1, 0.15) 100%
    ),
    url(/assets/images/section1/section1-photo.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  @include flex-center;
}

.section1-titres {
  display: flex;
  flex-flow: column;
  gap: 50px;

  h1,
  h2,
  h3 {
    color: white;
    text-align: center;
  }

  .separation {
    height: 3px;
    width: 60%;
    margin: 0 auto;
    background-color: white;
    content: "";
  }
}

/* ======================= SECTION 2 ======================= */

.section2 {
  margin: 30px 150px;
}

.section2-photo {
  height: 100vh;
  display: flex;
  @include flex-center;
  @include background;
}

.section2-titres {
  text-align: center;
  padding: 60px 20px;
  background-color: white;

  a {
    text-decoration: none;
    padding: 2px 10px;
    border-bottom: 1px solid $colorprim;

    &:hover {
      color: $hoverprim;
    }
  }
}

.section2-middle {
  position: relative;
  display: flex;
  flex-flow: column;
  @include flex-center;
  width: 50%;
  text-align: center;
  gap: 50px;

  .btn {
    background-color: $colorprim;
    color: white;
    padding: 15px 20px;
    border-radius: 0;
    transition: all 1s;

    &:hover {
      color: $hoverprim;
      background-color: white;
    }
  }

  .section2-logo-middle {
    position: absolute;
    right: -50px;
    top: -110px;
  }

  p {
    letter-spacing: 0;
    line-height: 150%;
  }
}
